body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1165px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 8px rgba(0, 0, 0, 0.349019607843137);
}
#u32573 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:0px;
  width:830px;
  height:45px;
}
#u32573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32574 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:0px;
  width:132px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32574_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32574.mouseOver {
}
#u32574_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32574.selected {
}
#u32574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u32575 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:46px;
  width:830px;
  height:901px;
}
#u32575_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:901px;
  overflow:auto;
}
#u32576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32576 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:0px;
  width:132px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32576_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32576.mouseOver {
}
#u32576_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32576.selected {
}
#u32576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u32577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32577 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:0px;
  width:132px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32577_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32577.mouseOver {
}
#u32577_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32577.selected {
}
#u32577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u32578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32578 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:0px;
  width:132px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32578_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32578.mouseOver {
}
#u32578_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u32578.selected {
}
#u32578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
