body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23133 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:27px;
  width:167px;
  height:16px;
}
#u23133_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u23133_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23134 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:77px;
  width:167px;
  height:16px;
}
#u23134_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u23134_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23135 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:127px;
  width:167px;
  height:16px;
}
#u23135_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u23135_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23136 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:27px;
  width:174px;
  height:16px;
}
#u23136_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u23136_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23137 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:77px;
  width:174px;
  height:16px;
}
#u23137_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u23137_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23138 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:127px;
  width:174px;
  height:16px;
}
#u23138_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u23138_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
