body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23450 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:27px;
  width:167px;
  height:16px;
}
#u23450_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u23450_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23451 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:77px;
  width:167px;
  height:16px;
}
#u23451_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u23451_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23452 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:127px;
  width:167px;
  height:16px;
}
#u23452_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u23452_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23453 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:27px;
  width:174px;
  height:16px;
}
#u23453_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u23453_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23454 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:77px;
  width:174px;
  height:16px;
}
#u23454_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u23454_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23455 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:127px;
  width:174px;
  height:16px;
}
#u23455_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u23455_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
