body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u20737 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:24px;
  width:118px;
  height:16px;
  color:#666666;
  text-align:right;
}
#u20737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u20738 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:20px;
  width:232px;
  height:25px;
}
#u20738_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u20739 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:64px;
  width:68px;
  height:16px;
  color:#666666;
  text-align:right;
}
#u20739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u20740 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:60px;
  width:232px;
  height:25px;
}
#u20740_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u20741 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:104px;
  width:64px;
  height:16px;
  color:#666666;
  text-align:right;
}
#u20741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u20742 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:100px;
  width:232px;
  height:25px;
}
#u20742_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u20743 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:144px;
  width:74px;
  height:16px;
  color:#666666;
  text-align:right;
}
#u20743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u20744 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:140px;
  width:232px;
  height:25px;
}
#u20744_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u20745 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:184px;
  width:70px;
  height:16px;
  color:#666666;
  text-align:right;
}
#u20745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u20746 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:180px;
  width:232px;
  height:25px;
}
#u20746_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20747 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:242px;
  width:268px;
  height:32px;
  color:#666666;
}
#u20747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
