body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:722px;
}
#u32588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:722px;
}
#u32588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:727px;
}
#u32589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:722px;
  width:810px;
  height:727px;
}
#u32589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:691px;
}
#u32590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1449px;
  width:810px;
  height:691px;
}
#u32590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
