body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:809px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:820px;
}
#u32579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:820px;
}
#u32579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:820px;
}
#u32580 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:813px;
  width:810px;
  height:820px;
}
#u32580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:820px;
}
#u32581 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:1633px;
  width:810px;
  height:820px;
}
#u32581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
