body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:1400px;
  height:900px;
}
#u20383_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:900px;
  overflow:hidden;
}
#u20384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:47px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u20385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:47px;
}
#u20385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u20387 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:75px;
  height:23px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u20387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u20388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u20388 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:28px;
  width:72px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u20388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u20389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u20390 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:3px;
  width:100px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u20390_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u20390.selected {
}
#u20390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u20391_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:6px;
}
#u20391 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:43px;
  width:100px;
  height:3px;
  color:#FFFFFF;
}
#u20391_img.selected {
}
#u20391.selected {
}
#u20391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u20393 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:3px;
  width:100px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u20393_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u20393.selected {
}
#u20393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u20394_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:6px;
}
#u20394 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:43px;
  width:100px;
  height:3px;
  color:#FFFFFF;
}
#u20394_img.selected {
}
#u20394.selected {
}
#u20394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u20396 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:3px;
  width:100px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u20396_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u20396.selected {
}
#u20396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u20397_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:6px;
}
#u20397 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:43px;
  width:100px;
  height:3px;
  color:#FFFFFF;
}
#u20397_img.selected {
}
#u20397.selected {
}
#u20397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20399 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:47px;
  width:220px;
  height:120px;
}
#u20399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20400 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:47px;
  width:220px;
  height:120px;
}
#u20401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u20401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u20401_img.mouseOver {
}
#u20401.mouseOver {
}
#u20401_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:190px;
  word-wrap:break-word;
}
#u20402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u20402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:220px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u20402_img.mouseOver {
}
#u20402.mouseOver {
}
#u20402_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:190px;
  word-wrap:break-word;
}
#u20403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u20403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:220px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u20403_img.mouseOver {
}
#u20403.mouseOver {
}
#u20403_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:190px;
  word-wrap:break-word;
}
#u20404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u20404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:220px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u20404_img.mouseOver {
}
#u20404.mouseOver {
}
#u20404_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:190px;
  word-wrap:break-word;
}
#u20405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20406 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:47px;
  width:220px;
  height:150px;
}
#u20406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20407 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:47px;
  width:220px;
  height:150px;
}
#u20408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u20408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u20408_img.mouseOver {
}
#u20408.mouseOver {
}
#u20408_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:190px;
  word-wrap:break-word;
}
#u20409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u20409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:220px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u20409_img.mouseOver {
}
#u20409.mouseOver {
}
#u20409_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:190px;
  word-wrap:break-word;
}
#u20410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u20410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:220px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u20410_img.mouseOver {
}
#u20410.mouseOver {
}
#u20410_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:190px;
  word-wrap:break-word;
}
#u20411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u20411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:220px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u20411_img.mouseOver {
}
#u20411.mouseOver {
}
#u20411_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:190px;
  word-wrap:break-word;
}
#u20412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u20412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:220px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u20412_img.mouseOver {
}
#u20412.mouseOver {
}
#u20412_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:190px;
  word-wrap:break-word;
}
#u20413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20414 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:47px;
  width:220px;
  height:30px;
}
#u20414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20415 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:47px;
  width:220px;
  height:30px;
}
#u20416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
}
#u20416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u20416_img.mouseOver {
}
#u20416.mouseOver {
}
#u20416_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:190px;
  word-wrap:break-word;
}
#u20417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:198px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1002px;
  width:586px;
  height:198px;
  opacity:0.75;
}
#u20418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20419_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:580px;
  height:89px;
}
#u20419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1000px;
  width:540px;
  height:49px;
}
#u20419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:47px;
}
#u20420 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1001px;
  width:110px;
  height:47px;
}
#u20420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u20421 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1079px;
  width:377px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u20421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  white-space:nowrap;
}
#u20422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u20422 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:1152px;
  width:26px;
  height:30px;
}
#u20422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20423 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:1065px;
  width:26px;
  height:24px;
}
#u20423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20425 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:1001px;
  width:396px;
  height:225px;
}
#u20425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:29px;
  background:inherit;
  background-color:rgba(63, 71, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20426 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:1002px;
  width:394px;
  height:29px;
}
#u20426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20427 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:1009px;
  width:84px;
  height:16px;
  color:#FFFFFF;
}
#u20427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u20428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u20428 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:1006px;
  width:21px;
  height:20px;
}
#u20428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u20429 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:1188px;
  width:80px;
  height:24px;
  color:#1190F0;
}
#u20429_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 244, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u20429.mouseOver {
}
#u20429_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(17, 144, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u20429.mouseDown {
}
#u20429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u20430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u20432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:112px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u20432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u20433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:103px;
  width:506px;
  height:19px;
  font-size:16px;
}
#u20433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u20434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:473px;
  height:19px;
  font-size:16px;
}
#u20434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  word-wrap:break-word;
}
#u20435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:160px;
  width:488px;
  height:19px;
  font-size:16px;
}
#u20435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  word-wrap:break-word;
}
#u20436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u20436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:189px;
  width:378px;
  height:19px;
  font-size:16px;
}
#u20436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  word-wrap:break-word;
}
#u20437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u20437 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:225px;
  width:24px;
  height:24px;
}
#u20437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u20438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:225px;
  width:24px;
  height:24px;
}
#u20438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u20440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:20px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u20440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u20441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u20441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:103px;
  width:20px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u20441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u20442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u20442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:131px;
  width:20px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u20442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u20443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u20443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:160px;
  width:20px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u20443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u20444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u20444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:189px;
  width:20px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u20444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u20445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u20445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:225px;
  width:24px;
  height:24px;
}
#u20445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
