body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:612px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23719 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:344px;
  width:66px;
  height:24px;
  color:#1190F0;
}
#u23719_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 244, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23719.mouseOver {
}
#u23719_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(17, 144, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23719.mouseDown {
}
#u23719_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23719.disabled {
}
#u23719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u23720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23720 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:344px;
  width:66px;
  height:24px;
  color:#1190F0;
}
#u23720_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 244, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23720.mouseOver {
}
#u23720_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(17, 144, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23720.mouseDown {
}
#u23720_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23720.disabled {
}
#u23720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u23721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23721 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:344px;
  width:66px;
  height:24px;
  color:#1190F0;
}
#u23721_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 244, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23721.mouseOver {
}
#u23721_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(17, 144, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23721.mouseDown {
}
#u23721_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23721.disabled {
}
#u23721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u23722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23722 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:13px;
  width:395px;
  height:32px;
}
#u23722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  white-space:nowrap;
}
#u23723 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:52px;
  width:596px;
  height:283px;
}
#u23724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u23724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
  color:#2894FF;
}
#u23724_img.mouseOver {
}
#u23724.mouseOver {
}
#u23724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  word-wrap:break-word;
}
#u23725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:30px;
}
#u23725 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:0px;
  width:418px;
  height:30px;
  color:#2894FF;
}
#u23725_img.mouseOver {
}
#u23725.mouseOver {
}
#u23725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:414px;
  word-wrap:break-word;
}
#u23726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:23px;
}
#u23726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:178px;
  height:23px;
}
#u23726_img.selected {
}
#u23726.selected {
}
#u23726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:174px;
  word-wrap:break-word;
}
#u23727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:23px;
}
#u23727 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:30px;
  width:418px;
  height:23px;
}
#u23727_img.selected {
}
#u23727.selected {
}
#u23727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:414px;
  word-wrap:break-word;
}
#u23728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:23px;
}
#u23728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:178px;
  height:23px;
}
#u23728_img.selected {
}
#u23728.selected {
}
#u23728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:174px;
  word-wrap:break-word;
}
#u23729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:23px;
}
#u23729 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:53px;
  width:418px;
  height:23px;
}
#u23729_img.selected {
}
#u23729.selected {
}
#u23729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:414px;
  word-wrap:break-word;
}
#u23730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:23px;
}
#u23730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:178px;
  height:23px;
}
#u23730_img.selected {
}
#u23730.selected {
}
#u23730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:23px;
}
#u23731 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:76px;
  width:418px;
  height:23px;
}
#u23731_img.selected {
}
#u23731.selected {
}
#u23731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:23px;
}
#u23732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:178px;
  height:23px;
}
#u23732_img.selected {
}
#u23732.selected {
}
#u23732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:23px;
}
#u23733 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:99px;
  width:418px;
  height:23px;
}
#u23733_img.selected {
}
#u23733.selected {
}
#u23733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:23px;
}
#u23734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:178px;
  height:23px;
}
#u23734_img.selected {
}
#u23734.selected {
}
#u23734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:23px;
}
#u23735 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:122px;
  width:418px;
  height:23px;
}
#u23735_img.selected {
}
#u23735.selected {
}
#u23735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:23px;
}
#u23736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:178px;
  height:23px;
  font-size:12px;
  color:#666666;
}
#u23736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:23px;
}
#u23737 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:145px;
  width:418px;
  height:23px;
  font-size:12px;
  color:#666666;
}
#u23737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:23px;
}
#u23738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:178px;
  height:23px;
  font-size:12px;
  color:#666666;
}
#u23738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:23px;
}
#u23739 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:168px;
  width:418px;
  height:23px;
  font-size:12px;
  color:#666666;
}
#u23739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:23px;
}
#u23740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:191px;
  width:178px;
  height:23px;
  font-size:12px;
  color:#666666;
}
#u23740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:23px;
}
#u23741 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:191px;
  width:418px;
  height:23px;
  font-size:12px;
  color:#666666;
}
#u23741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:23px;
}
#u23742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:214px;
  width:178px;
  height:23px;
  font-size:12px;
  color:#666666;
}
#u23742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:23px;
}
#u23743 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:214px;
  width:418px;
  height:23px;
  font-size:12px;
  color:#666666;
}
#u23743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:23px;
}
#u23744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:178px;
  height:23px;
  font-size:12px;
  color:#666666;
}
#u23744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:23px;
}
#u23745 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:237px;
  width:418px;
  height:23px;
  font-size:12px;
  color:#666666;
}
#u23745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:23px;
}
#u23746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:178px;
  height:23px;
  font-size:12px;
  color:#666666;
}
#u23746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:23px;
}
#u23747 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:260px;
  width:418px;
  height:23px;
  font-size:12px;
  color:#666666;
}
#u23747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 8px rgba(0, 0, 0, 0.349019607843137);
}
#u23749 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:23px;
  width:450px;
  height:330px;
}
#u23749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:29px;
  background:inherit;
  background-color:rgba(63, 71, 97, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23750 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:24px;
  width:448px;
  height:29px;
}
#u23750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u23751 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:31px;
  width:26px;
  height:16px;
  color:#FFFFFF;
}
#u23751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u23752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u23752 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:29px;
  width:21px;
  height:20px;
}
#u23752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23753 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:317px;
  width:80px;
  height:24px;
  color:#1190F0;
}
#u23753_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 244, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23753.mouseOver {
}
#u23753_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(17, 144, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23753.mouseDown {
}
#u23753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u23754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23754 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:317px;
  width:80px;
  height:24px;
  color:#1190F0;
}
#u23754_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 244, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23754.mouseOver {
}
#u23754_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(17, 144, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 144, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1190F0;
}
#u23754.mouseDown {
}
#u23754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u23755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23755 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:69px;
  width:390px;
  height:32px;
}
#u23755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u23756 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:121px;
  width:383px;
  height:182px;
}
#u23756_input {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:182px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
