body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u23712 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:12px;
  width:105px;
  height:24px;
  color:#FFFFFF;
  text-align:center;
}
#u23712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u23713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:414px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:768px;
  height:414px;
}
#u23713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23714 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:37px;
  width:766px;
  height:403px;
}
#u23715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u23715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  color:#2894FF;
}
#u23715_img.mouseOver {
}
#u23715.mouseOver {
}
#u23715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u23716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u23716 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:0px;
  width:58px;
  height:30px;
  color:#2894FF;
}
#u23716_img.mouseOver {
}
#u23716.mouseOver {
}
#u23716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u23717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u23717 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:0px;
  width:128px;
  height:30px;
  color:#2894FF;
}
#u23717_img.mouseOver {
}
#u23717.mouseOver {
}
#u23717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u23718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u23718 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:0px;
  width:128px;
  height:30px;
  color:#2894FF;
}
#u23718_img.mouseOver {
}
#u23718.mouseOver {
}
#u23718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u23719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u23719 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:126px;
  height:30px;
  color:#2894FF;
}
#u23719_img.mouseOver {
}
#u23719.mouseOver {
}
#u23719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u23720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u23720 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:0px;
  width:134px;
  height:30px;
  color:#2894FF;
}
#u23720_img.mouseOver {
}
#u23720.mouseOver {
}
#u23720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u23721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u23721 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:0px;
  width:116px;
  height:30px;
  color:#2894FF;
}
#u23721_img.mouseOver {
}
#u23721.mouseOver {
}
#u23721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u23722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:21px;
}
#u23722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:76px;
  height:21px;
  font-size:12px;
  color:#666666;
}
#u23722_img.selected {
}
#u23722.selected {
}
#u23722_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u23723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u23723 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:30px;
  width:58px;
  height:21px;
  font-size:12px;
  color:#666666;
}
#u23723_img.selected {
}
#u23723.selected {
}
#u23723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u23724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:21px;
}
#u23724 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:30px;
  width:128px;
  height:21px;
  font-size:12px;
  color:#666666;
}
#u23724_img.selected {
}
#u23724.selected {
}
#u23724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:124px;
  word-wrap:break-word;
}
#u23725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:21px;
}
#u23725 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:30px;
  width:128px;
  height:21px;
  font-size:12px;
  color:#666666;
}
#u23725_img.selected {
}
#u23725.selected {
}
#u23725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:124px;
  word-wrap:break-word;
}
#u23726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
}
#u23726 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:30px;
  width:126px;
  height:21px;
  font-size:12px;
  color:#666666;
}
#u23726_img.selected {
}
#u23726.selected {
}
#u23726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:122px;
  word-wrap:break-word;
}
#u23727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:21px;
}
#u23727 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:30px;
  width:134px;
  height:21px;
  font-size:12px;
  color:#666666;
}
#u23727_img.selected {
}
#u23727.selected {
}
#u23727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:130px;
  word-wrap:break-word;
}
#u23728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:21px;
}
#u23728 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:30px;
  width:116px;
  height:21px;
  font-size:12px;
  color:#666666;
}
#u23728_img.selected {
}
#u23728.selected {
}
#u23728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:112px;
  word-wrap:break-word;
}
#u23729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23729_img.selected {
}
#u23729.selected {
}
#u23729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u23730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23730 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:51px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23730_img.selected {
}
#u23730.selected {
}
#u23730_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u23731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23731 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:51px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23731_img.selected {
}
#u23731.selected {
}
#u23731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u23732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23732 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:51px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23732_img.selected {
}
#u23732.selected {
}
#u23732_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u23733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23733 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:51px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23733_img.selected {
}
#u23733.selected {
}
#u23733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  word-wrap:break-word;
}
#u23734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23734 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:51px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23734_img.selected {
}
#u23734.selected {
}
#u23734_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u23735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23735 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:51px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23735_img.selected {
}
#u23735.selected {
}
#u23735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:112px;
  word-wrap:break-word;
}
#u23736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23736_img.selected {
}
#u23736.selected {
}
#u23736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u23737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23737 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:73px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23737_img.selected {
}
#u23737.selected {
}
#u23737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u23738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23738 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:73px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23738_img.selected {
}
#u23738.selected {
}
#u23738_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u23739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23739 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:73px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23739_img.selected {
}
#u23739.selected {
}
#u23739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u23740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23740 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:73px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23740_img.selected {
}
#u23740.selected {
}
#u23740_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  word-wrap:break-word;
}
#u23741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23741 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:73px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23741_img.selected {
}
#u23741.selected {
}
#u23741_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u23742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23742 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:73px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23742_img.selected {
}
#u23742.selected {
}
#u23742_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:112px;
  word-wrap:break-word;
}
#u23743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23743_img.selected {
}
#u23743.selected {
}
#u23743_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u23744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23744 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:95px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23744_img.selected {
}
#u23744.selected {
}
#u23744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u23745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23745 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:95px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23745_img.selected {
}
#u23745.selected {
}
#u23745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u23746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23746 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:95px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23746_img.selected {
}
#u23746.selected {
}
#u23746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u23747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23747 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:95px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23747_img.selected {
}
#u23747.selected {
}
#u23747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  word-wrap:break-word;
}
#u23748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23748 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:95px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23748_img.selected {
}
#u23748.selected {
}
#u23748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u23749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23749 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:95px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23749_img.selected {
}
#u23749.selected {
}
#u23749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:112px;
  word-wrap:break-word;
}
#u23750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#FF0000;
}
#u23750_img.selected {
}
#u23750.selected {
}
#u23750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u23751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23751 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:117px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#FF0000;
}
#u23751_img.selected {
}
#u23751.selected {
}
#u23751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u23752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23752 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:117px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#FF0000;
}
#u23752_img.selected {
}
#u23752.selected {
}
#u23752_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u23753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23753 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:117px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#FF0000;
}
#u23753_img.selected {
}
#u23753.selected {
}
#u23753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u23754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23754 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:117px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#FF0000;
}
#u23754_img.selected {
}
#u23754.selected {
}
#u23754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  word-wrap:break-word;
}
#u23755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23755 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:117px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#FF0000;
}
#u23755_img.selected {
}
#u23755.selected {
}
#u23755_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:130px;
  word-wrap:break-word;
}
#u23756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23756 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:117px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#FF0000;
}
#u23756_img.selected {
}
#u23756.selected {
}
#u23756_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:112px;
  word-wrap:break-word;
}
#u23757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:139px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23758 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:139px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23759 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:139px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23760 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:139px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23760_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23761 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:139px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23762 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:139px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23763 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:139px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:161px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23765 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:161px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23766 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:161px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23766_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23767 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:161px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23768 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:161px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23769 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:161px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23770 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:161px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:183px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23772 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:183px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23773 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:183px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23774 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:183px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23775 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:183px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23776 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:183px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23777 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:183px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23779 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:205px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23780 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:205px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23781 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:205px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23782 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:205px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23783 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:205px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23784 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:205px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:227px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23786 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:227px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23787 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:227px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23788 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:227px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23789 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:227px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23790 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:227px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23791 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:227px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:249px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23793 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:249px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23794 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:249px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23795 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:249px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23796 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:249px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23797 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:249px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23798 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:249px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:271px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23800 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:271px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23801 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:271px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23802 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:271px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23803 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:271px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23804 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:271px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23805 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:271px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:293px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23807 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:293px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23808 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:293px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23809 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:293px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23810 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:293px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23811 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:293px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23812 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:293px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:315px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23814 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:315px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23815 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:315px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23816 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:315px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23817 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:315px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23818 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:315px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23819 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:315px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:337px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23821 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:337px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23822 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:337px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23823 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:337px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23824 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:337px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23825 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:337px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23826 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:337px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:359px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23828 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:359px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23829 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:359px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23830 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:359px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23831 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:359px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23832 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:359px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23833 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:359px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u23834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:381px;
  width:76px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u23835 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:381px;
  width:58px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23836 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:381px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u23837 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:381px;
  width:128px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:22px;
}
#u23838 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:381px;
  width:126px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u23839 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:381px;
  width:134px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u23840 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:381px;
  width:116px;
  height:22px;
  font-size:12px;
  color:#666666;
}
#u23840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
